@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
  background-color: #f2f2f2;
}

        .boxUserProfile
        {
              margin-left: 0%;      
              padding:2em;
              color: #444;
              font-family: 'Lato', sans-serif;
              font-weight: 300;
              line-height: 1;
              text-align: center;
              height: 414px;
              max-width:100px;
              margin-top:4%;
}
        .profile-img {
          
              height: 12em;
              margin-right: auto;
              margin-left: auto;
              border: .5em solid #f2f2f2;
              border-radius: 100%;
              box-shadow:  0 1px 0 0 rgba(0,0,0,.1);
              width:12em;

        }

        .profile-text {
          margin-top: -4em;
          padding: 5em 1.5em 1.5em 1.5em; 
          background: white;
          border-radius: 3px;
          box-shadow: 0 1px 2px rgba(0,0,0,0.1);
          width:12em;
          height:8em;
        }

        .profile-name{
          margin-right: -1em;
          margin-bottom: .75em;
          margin-left: -1em;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          padding-bottom: .75em;
          font-size: 1.5em;
          text-transform: uppercase;
        }

        .profile-title {
          color: #ccc;
        }

        .btn_up
        {
            margin-top:20px;
            margin-left:110%;
        }
      
        .file_up{

            margin-left:44px;
            
        }

        .hidden {
    display:none;
                }
    
.button {
    border: 1px solid #333;
    padding: 10px;
    margin-top:90px;
    margin-left:200px;
    background: #777;
    color: #fff;
    width:75px;
}



.bar-logo-inside

{
    top: 20px;
    bottom: 0;
    margin-left:-250px;
    position: absolute;
    width:auto;
    color:white;
    font-size:25px;
    float:left;
    font-family:'Viner Hand ITC';
   
}
.bar-right-inside{
    width: auto;
    text-align: center;
    font-family: Arial;
    font-size: 12px;
    display: block;
    margin: 21px 40px 0 0;
    float: right;
    
   
}

#btn_logout
{
    padding: 12px 22px 12px;
    border: 1px solid;
    border-radius: 2px;
    float: right;
    color:white   ;
    font-weight: bold;
    font-size: 10px;
    background-color:#FF0033;
    border-color:#FF0033;
     height:40px;
    width: 86px;
    text-align:center;
    margin-right:-20px;

}

#btn_searchFriend
{
    padding: 12px 22px 12px;
    color:white   ;
    font-weight: bold;
    font-size: 10px;
    background-color:royalblue;
    border-color:royalblue;
     height:35px;
    width: 86px;
    text-align:center;
    margin-right:485px;
    margin-top:2px;
    border: 1px solid royalblue;
    border-radius: 2px;
}
#btn_searchFriend:hover{
     padding: 12px 22px 12px;
    border: 1px solid;
    border-radius: 2px;
    color:white;
    font-weight: bold;
    font-size: 10px;
    background-color:dimgrey;
    border-color:dimgrey;
     height:35px;
    width: 86px;
    text-align:center;
    margin-right:485px;
    margin-top:2px;
    
    

}


.bar-center
{
    position: absolute;
    margin: 23px 40px 0 400px;
    text-align:center;
   
}

.S_friend {
    margin-top:-23%;
    margin-left:35%;
}